#myOverlay{
	position:fixed;
	top :0;
	left:0;
	right:0;
	bottom:0;
	background-color:#000000;
	opacity:0.4;
	z-index:9999999999999999999999999999 !important;
	display:none;
	
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

.left{text-align:left;}
.right{text-align:right;}
.center {text-align:center}