.yellow{
	background-color:#FFFF00;
}

.red{
	background-color:#FF0000;
}

.text_red{
	color : #FF0000;
	
}
.text_yellow{
	color : #FF0000;
	
}


.text_green{
	color : #00FF00;
	
}


.green{
	background-color : #00FF00;
	
}